<!--add base template-->
{% extends "base.html" %}

<!--Add extras-->
{% load changes_extras %}

<!--add format forms-->
{% load widget_tweaks %}

<!--load statics files-->
{% load staticfiles %}

<!-- Begin title-->
{%block title %}
{{ title.create }} {% endblock %}
<!-- End title-->

<!-- Begin css-->
{% block css %}
<!-- Add css-->
{% endblock %}
<!-- End css-->
{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{ title.edit }}
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="{% url uri.show %}"><i class="fa fa-dashboard"></i> {{ title.show }}</a>
      </li>
      <li class="active">{{ title.edit }}</li>
    </ol>
  </section>
  <section class="content">
    <!-- Formulario de ventas -->
    <div class="row">
      <div class="col-lg-5 col-xs-12">
        <div class="box box-success">
          <div class="box box-header with-border"></div>
          <form method="post" class="formSale">
            {% csrf_token %}
            <div class="box-body">
              <div class="box">
                <!-- input vendedor -->
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="{{ form.seller.label|replace:1 }}"></i></span>
                    {% render_field form.seller|append_attr:"readonly:readonly" type="text" class="form-control" placeholder=form.seller.label|replace:0 %}
                    <strong class="text-danger">{{ field.errors }}</strong>
                    {% render_field form.sellerid|append_attr:"type:hidden" %}
                  </div>
                </div>
                <!-- input invoice -->
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="{{ form.invoice.label|replace:1 }}"></i></span>
                    {% render_field form.invoice|append_attr:"readonly:readonly" type="text" class="form-control" placeholder=form.invoice.label|replace:0 %}
                    <strong class="text-danger">{{ field.errors }}</strong>
                  </div>
                </div>
                <!-- input cliente -->
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="{{ form.fkclient.label|replace:1 }}"></i></span>
                    {% render_field form.fkclient %}
                    {% render_field form.nameclient class="form-control" %}
                    <strong class="text-danger">{{ field.errors }}</strong>
                  </div>
                </div>
                <!-- input agregar producto -->
                <div class="form-group row newProduct">
                  {% for item in data_product %}
                  <div class="row" style="padding:5px 15px">
                    <div class="col-xs-6" style="padding-right: 0px;">
                      <div class="input-group">
                        <span class="input-group-addon"><button class="btn btn-danger btn-xs removeProduct" idProduct="{{ item.id }}"><i class="fa fa-times"></i></button></span>
                        <input type="text" class="form-control newDesProduct" idProduct="{{ item.id }}" name="addProduct" value="{{ item.description }}" readonly>
                      </div>
                    </div>
                    <div class="col-xs-3 inCount" style="padding-right: 0px;">
                      <div class="input-group">
                        <input type="text" class="form-control newCountProduct" name="newCountProduct" min="1" value="{{ item.count }}" stock="{{ item.stock|sum:item.count }}" newStock="{{ item.stock }}">
                      </div>
                    </div>
                    <div class="col-xs-3 inPrice" style="padding-left: 0px;">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="ion ion-social-usd"></i></span>
                        <input type="text" class="form-control newPriceProduct" name="newPriceProduct" initPrice="{{ item.price }}" value="{{ item.total }}" readonly>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {# { data_product } #}
                </div>
                <input type="hidden" id="listProduct" name="listProduct">
                <button type="button" class="btn btn-default hidden-lg btnAddProduct">Agregar producto</button>
                <hr>
                <div class="row">
                  <div class="col-xs-8 pull-right">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Impuesto</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <td style="width: 50%;">
                          <div class="input-group">
                            {% render_field form.new_tax_sale class="form-control input-lg" %}
                            <input type="hidden" name="newPriceTax" id="newPriceTax">
                            <input type="hidden" name="newPriceNet" id="newPriceNet">
                            <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                          </div>
                        </td>
                        <td style="width: 50%;">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="ion ion-social-usd"></i></span>
                            {# % render_field form.new_total_sale class="form-control input-lg" % #}
                            {% render_field form.new_total_sale|append_attr:"class:form-control input-lg" total=net %}
                            <input type="hidden" name="totalSale" id="totalSale">
                          </div>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-xs-6" style="padding-right: 0px;">
                    <div class="input-group">
                      {% render_field form.new_method_pay class="form-control" %}
                    </div>
                  </div>
                  <div class="boxMethodPay"></div>
                  <input type="hidden" id="listMethodPay" name="listMethodPay">
                </div>
                <br>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right">Guardar cambios</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Tabla de productos -->
      <div class="col-lg-7 hidden-md hidden-sm hidden-xs">
        <div class="box box-warning">
            <div class="box-header with-border"></div>
            <div class="box-body">
              <table class="table table-bordered table-striped dt-responsive tableEditSaleProduct">
                <thead>
                  <tr>
                  {% for title in list_title %}
                    <th> {{ title }} </th>
                  {% endfor %}
                  </tr>
                </thead>
              </table>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal add user-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}
<!--Begin js-->
{% block javascript %}{% endblock %}
