<!--add base template-->
{% extends "base.html" %}

<!--add format forms-->
{% load widget_tweaks %}

<!--load statics files-->
{% load staticfiles %}

<!-- Begin title-->
{%block title %}
{{ title.report }}
{% endblock %}
<!-- End title-->

<!-- Begin css-->
{% block css %}
<!-- Add css-->
{% endblock %}
<!-- End css-->
{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{ title.report }}
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">{{ title.report }}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <button type="button" class="btn btn-default pull-left" id="daterange-btn2">
          <span>
            <i class="fa fa-calendar"> Rango de fecha</i>
          </span>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="box-tools pull-right">
          
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="box box-solid  bg-teal-gradient">
              <div class="box-header">
                <i class="fa fa-th"></i>
                <h3 class="box-title">Gráfico de ventas</h3>
              </div>
              <div class="box-body border-radius-none nuevoGraficoVentas">
                <div class="chart" id="line-chart-sales" style="height: 250px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!--Begin js-->
{% block javascript %}
<script>
  $("#daterange-btn2").daterangepicker(
  {
    ranges: {
      Hoy: [moment(), moment()],
      Ayer: [moment().subtract(1, "days"), moment().subtract(1, "days")],
      "Ultimos 7 dias": [moment().subtract(6, "days"), moment()],
      "Ultimos 30 dias": [moment().subtract(29, "days"), moment()],
      "Este mes": [moment().startOf("month"), moment().endOf("month")],
      "Ultimo mes": [
        moment().subtract(1, "month").startOf("month"),
        moment().subtract(1, "month").endOf("month"),
      ],
    },
    startDate: moment().subtract(29, "days"),
    endDate: moment(),
  },
  function (start, end) {
    $("#daterange-btn2 span").html(
      start.format("MMMM D, YYYY") + "- " + end.format("MMMM D, YYYY")
    );
    var initDate = start.format("YYYY-M-D");
    var endDate = end.format("YYYY-M-D");
    var catchRange = $("#daterange-btn2 span").html();

    localStorage.setItem("catchRange2", catchRange);
  }
);

/* cancelar rango de fecha*/
$(".daterangepicker.opensleft .range_inputs .cancelBtn").on(
  "click",
  function () {
    localStorage.removeItem("catchRange2");
    localStorage.clear();
    window.location = "sale";
  }
);

$(".daterangepicker.openleft .ranges li").on("click", function () {
  var textToday = $(this).attr("data-range-key");
  if (textToday == "Hoy") {
    var d = new Date();
    var day = d.getDate();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();
    var initialDate = year + "-" + month + "-" + day;
    var endDate = year + "-" + month + "-" + day;
    localStorage.setItem("cachRange2", "Hoy");
    windows.location = "report";
  }
});


var uri = "report/api/v6";
$.ajax({
  type: "GET",
  url: uri,
  success: function (response) {
    a = response.data_sale;
    // let txt = "";
    // for (x = 0; x < a.length; x++) {
    //   txt += `<p>${a[x]["Invoice"]} ${a[x]["id"]}</p>`;
    // }
    // $(".getData").append(txt);

    var myData = [];
    for (x = 0; x < a.length; x++) {
      y=x+1
      var obj = {
        year: a[x]["year"]+' '+'Q'+a[x]["month"],
        value: a[x]["value"]
      };
      myData.push(obj);
    }

    console.log(myData);
    var line = new Morris.Line({
      element: 'line-chart-sales',
      resize: true,
      data: myData,
      xkey: 'year',
      ykeys: ['value'],
      labels: ['Sale'],
      lineColors: ['#3c8dbc'],
      hideHover: 'auto'
    });
  },
  error: function (response) {
    console.log(response);
  },
});
</script>
{% endblock %}
