<!--add base template-->
{% extends "base.html" %}

<!--Add extras-->
{% load changes_extras %}

<!--add format forms-->
{% load widget_tweaks %}

<!--load statics files-->
{% load staticfiles %}

<!--load humanize -->
{% load humanize %}

<!-- Begin title-->
{%block title %}
{{ title.home }}
{% endblock %}
<!-- End title-->

<!-- Begin css-->
{% block css %}
<!-- Add css-->
{% endblock %}
<!-- End css-->
{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{ title.home }}
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">{{ title.home }}</li>
    </ol>
  </section>

  
  <section class="content">
  {% if request.user.profile.level.id == 1 %}
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>${{ total_sales.net__sum|intcomma }} </h3>
          <p>Ventas</p>
        </div>
        <div class="icon">
          <i class="ion ion-social-usd"></i>
        </div>
        <a href="{% url 'sales:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{ total_category }}</h3>
          <p>Categorias</p>
        </div>
        <div class="icon">
          <i class="ion ion-clipboard"></i>
        </div>
        <a href="{% url 'categories:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{ total_client }}</h3>
          <p>Clientes</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="{% url 'clients:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{ total_product }}</h3>
          <p>Productos</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-cart"></i>
        </div>
        <a href="{% url 'products:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-solid  bg-teal-gradient">
        <div class="box-header">
          <i class="fa fa-th"></i>
          <h3 class="box-title">Gráfico de ventas</h3>
        </div>
        <div class="box-body border-radius-none nuevoGraficoVentas">
          <div class="chart" id="line-chart-sales1" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Productos mas vendidos</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-8">
              <div class="chart-responsive">
                <canvas id="pieChart" height="150"></canvas>
              </div>
            </div>
            <div class="col-md-4">
              <ul class="chart-legend clearfix">
                {% for product in product_list1 %}
                  <li><i class="fa fa-circle-o text-{% cycle 'red' 'blue' 'green' 'purple' 'aqua' %}"></i> {{product.description}} </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked">
            {% for product in product_list1 %}
              <li><a href="#">{{product.description}}
                <span class="pull-right text-{% cycle 'red' 'blue' 'green' 'purple' 'aqua' %}"><i class="fa fa-angle-down"></i> {{ product.sales|percent:product_sum.sales__sum }}%</span></a></li>  
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Ultimos productos agregados</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <ul class="products-list product-list-in-box">
            {% for product in product_list %}
            <li class="item">
              <div class="product-img">
                <img class="img" width="60px" src="{{ product.image.url }}" alt="Product image">
              </div>
              <div class="product-info">
                <a href="" class="product-title">
                  {{ product.description }}
                  <span class="label label-warning pull-right">{{ product.sale_price|intcomma }}</span>
                </a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="box-footer text-center">
          <a href="{% url 'products:show' %}" class="uppercase">Ver todos los productos</a>
        </div> 
      </div>
      
    </div>
    {% else %}
    <div class="row">
      <div class="col-lg-12">
        <div class="box box-success">
          <div class="box-header">
            <h1>Welcome {{ request.user }}</h1>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </section>
</div>
{% endblock %}
<!--Begin js-->
{% block javascript %} 
<script>
  var uri = "api/v6";
  $.ajax({
    type: "GET",
    url: uri,
    success: function (response) {
      a = response.data_sale;
      var myData = [];
      for (x = 0; x < a.length; x++) {
        y=x+1
        var obj = {
          year: a[x]["year"]+' '+'Q'+a[x]["month"],
          value: a[x]["value"]
        };
        myData.push(obj);
      }
      var line = new Morris.Line({
        element: 'line-chart-sales1',
        resize: true,
        data: myData,
        xkey: 'year',
        ykeys: ['value'],
        labels: ['Sale'],
        lineColors: ['#3c8dbc'],
        hideHover: 'auto'
      });
    },
    error: function (response) {
      console.log(response);
    },
  });

  var uri = "api/v7";
  $.ajax({
    type: "GET",
    url: uri,
    success: function (response) {
      a = response.data_product;
      var myProduct = [];
      for (x = 0; x < a.length; x++) {
        y=x+1
        var obj = {
          value: a[x]["value"],
          color: a[x]["color"],
          highlight: a[x]["highlight"],
          label: a[x]["label"]
        };
        myProduct.push(obj);
      }
      // console.log(myProduct)
      var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
      var pieChart       = new Chart(pieChartCanvas);
      var PieData        = myProduct
      var pieOptions     = {
        // Boolean - Whether we should show a stroke on each segment
        segmentShowStroke    : true,
        // String - The colour of each segment stroke
        segmentStrokeColor   : '#fff',
        // Number - The width of each segment stroke
        segmentStrokeWidth   : 1,
        // Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout: 50, // This is 0 for Pie charts
        // Number - Amount of animation steps
        animationSteps       : 100,
        // String - Animation easing effect
        animationEasing      : 'easeOutBounce',
        // Boolean - Whether we animate the rotation of the Doughnut
        animateRotate        : true,
        // Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale         : false,
        // Boolean - whether to make the chart responsive to window resizing
        responsive           : true,
        // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
        maintainAspectRatio  : false,
        // String - A legend template

        // String - A tooltip template
        tooltipTemplate      : '<%=value %> <%=label%>'
      };
      // Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      pieChart.Doughnut(PieData, pieOptions);
      // -----------------
      // - END PIE CHART -
      // -----------------
    },
    error: function (response) {
      console.log(response);
    },
  });
  



</script>
{% endblock %}
