<!--add base template-->
{% extends "base.html" %}

<!--add format forms-->
{% load widget_tweaks %}

<!--load statics files-->
{% load staticfiles %}

<!--load humanize -->
{% load humanize %}

<!-- Begin title-->
{%block title %}
{{ title.home }}
{% endblock %}
<!-- End title-->

<!-- Begin css-->
{% block css %}
<!-- Add css-->
{% endblock %}
<!-- End css-->
{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{ title.home }}
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">{{ title.home }}</li>
    </ol>
  </section>

  
  <section class="content">
  {% if request.user.profile.level.id == 1 %}
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>${{ total_sales.net__sum|intcomma }} </h3>
          <p>Ventas</p>
        </div>
        <div class="icon">
          <i class="ion ion-social-usd"></i>
        </div>
        <a href="{% url 'sales:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{ total_category }}</h3>
          <p>Categorias</p>
        </div>
        <div class="icon">
          <i class="ion ion-clipboard"></i>
        </div>
        <a href="{% url 'categories:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{ total_client }}</h3>
          <p>Clientes</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="{% url 'clients:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{ total_product }}</h3>
          <p>Productos</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-cart"></i>
        </div>
        <a href="{% url 'products:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>Grafico de ventas</h3>
          <p>Ventas</p>
        </div>
        <div class="icon">
          <i class="ion ion-social-usd"></i>
        </div>
        <a href="{% url 'sales:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    
    <div class="col-lg-6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3>Productos mas vendidos</h3>
          <p>Productos</p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-cart"></i>
        </div>
        <a href="{% url 'products:show' %}" class="small-box-footer">
          Mas info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    
    <div class="col-lg-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Ultimos productos agregados</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <ul class="products-list product-list-in-box">
            {% for product in product_list %}
            <li class="item">
              <div class="product-img">
                <img class="img" width="60px" src="{{ product.image.url }}" alt="Product image">
              </div>
              <div class="product-info">
                <a href="" class="product-title">
                  {{ product.description }}
                  <span class="label label-warning pull-right">{{ product.sale_price|intcomma }}</span>
                </a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="box-footer text-center">
          <a href="{% url 'products:show' %}" class="uppercase">Ver todos los productos</a>
        </div> 
      </div>
      
    </div>
    {% else %}
    <div class="row">
      <div class="col-lg-12">
        <div class="box box-success">
          <div class="box-header">
            <h1>Welcome {{ request.user }}</h1>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </section>
</div>
{% endblock %}
<!--Begin js-->
{% block javascript %} {% endblock %}
